<div class="main">
    <div class="top">
<img class="userimage" src="https://images.unsplash.com/photo-1593085512500-5d55148d6f0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="profile">
<div class="name">
    <p>The Octocat</p>
    <p>aoctocat</p>
    <p>Joined 25 Jan 2011</p>
</div>
</div>
<div class="description">
    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
    </p>
</div>
<div class="stats">
    <div class="repos">
        <p>Repos</p>
        <p>8</p>
    </div>
    <div class="followers">
        <p>Followers</p>
        <p>3938</p>
    </div>
    <div class="following">
        <p>Following</p>
        <p>9</p>
    </div>
</div>
<div class="footer">
    <div class="topfooter">
        <span>San Franscisco</span>
        <span>Not Available</span>
    </div>
    <div class="bottomfooter">
        <span>https://github.blog</span>
        <span>@github</span>
    </div>
</div>
</div>